<div>
  <div>
    Street address to weather calculation
  </div>

  <div>
    <p>Where are you?</p>
    <form action="/street-to-weather/results.html">
      <div>
        <label for="the_address">Street Address</label>
        <input type="text" placeholder="Enter the address" name="user_street_address" id="the_address">
      </div>

      <button>
        Tell me the weather!
      </button>
    </form>
  </div>
</div>
