<div>
  <div>
    New descriptive statistics calculation
  </div>

  <div>
    <form action="/stats/results.html">
      <div>
        <label for="user_text">
          Numbers
        </label>

        <textarea name="list_of_numbers" rows="3" placeholder="Enter your numbers (separated by spaces)" id="list_of_numbers"></textarea>
      </div>

      <button>
        Calculate!
      </button>
    </form>
  </div>
</div>
