<div>
  <div>
    New word count calculation
  </div>

  <div>
    <form action="/word-count/results.html">
      <div>
        <label for="user_text">
          Text
        </label>

        <textarea rows="3" name="user_text" placeholder="Enter your text" id="user_text"></textarea>
      </div>

      <div>
        <label for="user_word">
          Special Word (optional)
        </label>

        <input type="name" name="user_word" id="user_word" placeholder="Enter a word to count the occurrences of">
      </div>

      <button>
        Calculate!
      </button>
    </form>
  </div>
</div>
