<div class="card border-info mb-3">
  <div>
    Street address to coordinates calculation
  </div>

  <div >
    <form action="/street-to-coords/results.html">
      <div>
        <label for="the_address">Street Address</label>
        <input type="text"  class="form-control" placeholder="Enter the address" name="user_street_address" id="the_address">
      </div>

      <button class="btn btn-outline-info btn-block">
        Lookup Coordinates!
      </button>
    </form>
  </div>
</div>
